.container {
    @apply w-7xl m-auto
}

.card-info > p, h3 {
    @apply font-light text-gray-300
}

.card-info span {
    @apply font-bold text-white
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .globe {
    animation: spin 10s linear infinite;
    width: 80px;
    height: 80px;
    cursor: pointer;
  }