html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
  
body {
    background: linear-gradient(to bottom right, #111827, #1f2937, #374151);
    background-repeat: no-repeat;
    background-attachment: fixed;
}